.task-add__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task-add__group {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.task-add__group:has(.task-add__input-text),
.task-add__group:has(.task-add__input-tags) {
  flex-grow: 2;
}

.task-add__input-text,
.task-add__input-tags {
  width: 100%;
}
