.filter__fieldset {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter__group {
  display: flex;
  flex-direction: column;
  place-content: end;
}

.filter__group-btn {
  flex-grow: 2;
  display: grid;
  grid-template-columns: repeat(2, 60px);
  gap: 10px;
  align-items: end;
}
